body {
  margin: 0;
  padding: 0;
  background-color: #fff3e0;
  display: inline-block;
  width: 100vw;
}
* {
  margin: 0 auto;
  font-family: "Roboto";
}
h1 {
  font-size: 55px;
  margin: 0px 13px;
  color: #fff8e1;
  display: inline;
}
h4 {
  display: inline;
  color: white;
}
header {
  /* display: block; */
  margin: 0 auto;
  width: 100%;
  background-color: #0d47a1;
  padding: 8px;
  display: block;
}
h5 {
  display: inline;
  color: #0d47a1;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#plus {
  display: inline;
}
#addItemButton {
  font-size: 15px;
  font-weight: bold;
  margin: -8px 0 0 0;
  padding: 15px;
  display: block;
  background-color: #80d8ff;
  width: 100vw;
}
#submitItemButton {
  font-size: 15px;
  /* font-weight: bold; */
  display: block;
  background-color: sandybrown;
  width: auto;
  /* float: right; */
  margin: 8px auto;
}
#editSubmitItemButton {
  font-size: 15px;
  display: block;
  background-color: sandybrown;
  margin: 8px auto;
  width: auto;
}
#deleteButton {
  /* background-color: sandybrown; */
  display: inline;
  margin: 0 -10px 0 -10px;
  padding: 8px 0px;
  float: left;
  width: 10px;
}
#editButton {
  /* background-color: sandybrown; */
  display: inline;
  margin: 0 -10px 0 0px;
  padding: 0;
  float: right;
  /* width: 30px; */
}
/* #groceryItemContainer {
  display: inline-block;
  margin: 0px auto;
} */
#groceryItems {
  /* display: inline-block; */
  margin: 0 -3px;
  width: 102%;
}
#inputForms {
  margin: 0 auto;
  display: block;
  width: 168px;
}
#editForms {
  margin: -1px auto;
  display: inline-block;
}
/* #login,
#logout {
  float: right;
  margin: 13px;
  display: inline;
  color: white;
} */
#helperText {
  margin: auto;
  width: auto;
}
#archiveHeader {
  background-color: #0d47a1;
  padding: 10px 8px 10px 5px;
}
/* .MuiButton-label-2 {
  width: auto !important;
} */
.MuiIcon-root-28 {
  display: inline;
}
.navSwipe {
  display: inline;
}
.sidebar {
  display: block;
  margin: 10px;
  font-size: 20px;
}
.inputForm {
  /* display: inline; */
  margin: 0px auto;
  width: auto;
}
.quantityForm,
.aisleForm {
  /* display: inline; */
  margin: 0px auto;
  width: auto;
}
.itemForm {
  display: inline;
  margin: 0 auto;
  width: auto;
}
.groceryItem {
  display: inline;
  margin: 0px 1px 5px 1px;
  /* width: 300px; */
}
.checkBox {
  margin: 8px 10px 0px 10px;
  display: inline;
}
