body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: aqua;
  display: inline-block;
}
* {
  margin: 0 auto;
  width: 300px;
}
#addItemButton {
  font-size: 15px;
  font-weight: bold;
  background-color: sandybrown;
}
#submitItemButton {
  font-size: 15px;
  font-weight: bold;
  background-color: sandybrown;
}
#editButton {
  background-color: sandybrown;
}
.groceryItems {
  margin: auto;
  border-top: 1px solid rgb(221, 133, 111);
  background-color: cornsilk;
  align-content: center;
}
.groceryItem {
  display: inline;
  margin: 10px;
}

/* USE THIS FOR THE DROPDOWN AISLES */
/* .Select-option.is-selected {
  color: red;
} */
